# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:**
 - List commonly used libraries for Data Science
 - List popular languages for Data Science
 - List development environement open source tools used in data science

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. Matplotlib

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Data Science Tools |
------------------
Apache Spark
Apache Hadoop
Apache Hive
--------------

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#this is a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [7]:
#this will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Juliana D.